.underline:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    font-size: 1.5em;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underline:hover {
    color: #0d0d0d;
    font-size: 1.5em;

}

.underline:hover:after{
    width: 100%;
}

#formHome {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    width: 90%;
    max-width: 90em;
    position: relative;
    padding: 15px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: left;
    margin: 0 auto;
}

#post {
    font-family: "Poppins", sans-serif;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    width: 90%;
    overflow-wrap: break-word;
    max-width: 90em;
    position: relative;
    padding: 15px;
    margin-top: 1em;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    
}

.tittle{
    margin-top: 0.2em;
    /*color: #000000;*/
    font-size: 2em;
    display: block;
}

.description{
    font-size: 1em;
    display: block;
}

.imgHolder{
    /*max-width: 90em;*/
    /*max-height: 30em;*/
    /*object-fit: cover;*/
    position: relative;
    padding-bottom: 1em;
    width: 100%;
}

.iconHolder{
    width: 32px;
    margin-right: 0.5em;
    height: 32px;
    display: inline-block;
}

.date{
    margin-left:1em;
}
.Continue{
    /*margin-top: 0.5em;*/
    display: block;
    /*border-radius: 0.5em;*/
    /*width: 10em;*/
    /*border-color: black;*/
    /*height: 45px;*/
    /*line-height: 45px;*/
    /*font-family: 'Poppins', sans-serif;*/
    /*font-size: 1em;*/
    /*text-transform: uppercase;*/
    /*text-align: center;*/
    letter-spacing: 3px;
    /*color: #524f4e;*/
    background: #ffffff;
    /*box-shadow: 0 8px 15px rgba(0, 0, 0, .1);*/
}